<configuration>
    <!-- Define a pattern for console output -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{ISO8601} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.employeemanagement.controller" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.employeemanagement.service" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
</configuration>
